@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <div class="jumbotron bg-primary text-white p-5 rounded">
        <h1 class="display-4">Welcome to Battle Stadium</h1>
        <hr />
        <a class="btn btn-warning btn-lg mx-2" href="/Leaderboard" role="button">Leaderboard</a>
        <a class="btn btn-danger btn-lg mx-2" href="/Areas/Battle/Index" role="button">Enter Battle</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-primary">Create Your Team</h5>
                    <p class="card-text">(Work in Progress)</p>
                    <a href="" class="btn btn-outline-primary">Start Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title text-success">View Leaderboard</h5>
                    <p class="card-text"></p>
                    <a href="/Leaderboard" class="btn btn-outline-success">View Leaderboard</a>
                </div>
            </div>
        </div>
    </div>
</div>
